@{
	// Step (10)
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<h3>
		Home
	</h3>

	<a href="~/Home/SomeSecuredAction">Some Secured Action!</a>
</body>
</html>
